{% extends 'layout.html' %} {% block title %}
<h1>Register</h1>{% endblock %} {% block content %}
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" method="post">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <input type="password" name="confirm" id="inputConfirmPassword" class="form-control" placeholder="Confirm password" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Create account</button>
            <a class="forgot-password" href="{{url_for('login')}}">already have an account? login here!</a>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->
{% endblock %}